# dataset — too large for git, download from Kaggle
data/creditcard.csv

# trained model artifact
model/artifacts/model.pkl

# env
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# OS
.DS_Store
